
@{
    Layout = null;
}

<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style>
        table, td, th {
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>


<body>
    <br />
    <h2>Enter Details </h2>
 <table>
    <form method="post" action="~/Home/Terms">
    
        <tr>
            <td><label for="termid">Enter TermId:</label></td>
            <td><input style="height:20px" size="30" type="text" id="id" name="id" placeholder="Term Id" /></td>
        </tr>

        <tr>
            <td><label for="username">Enter Username:</label></td>
            <td><input style="height:20px" size="40" type="text" id="username" name="username" placeholder="Username" /></td>
        </tr>
    
        <tr>
            <td><label for="password">Enter Password:</label></td>
            <td><input style="height:20px" size="40" type="password" id="password" name="password" placeholder="Password" /></td>
        </tr>
     
        <tr>
            <td><button type="submit">Get Term Information</button></td>
        </tr>
        
    </form>
</table>

</body>
</html>
